body{
margin: 0;
}
.containertext-center{
    width: 1200px;
    margin: 100px 150px

   

   
   
}
.col{
    border: 1px solid black;
    display:flex;
    flex-wrap: wrap;
    margin: 3px;
    height: 150px;
    

}
.col:hover{
    transform: scale(1.03);
}
.p-3{

    width: 60%;
    margin: 10px auto;
   
    
}
button{
    background-color: chartreuse;
    
   
}
